<form method="post" action="">
  <table id="planner-table" class="table">
    <tr id="day-headers">
      <!-- blank cell to create times column -->
      <td></td>
      <% weekdays.forEach(day => { %>
      <td><%= day %></td>
      <% }); %>
    </tr>
    <% times.forEach(time => { %>
    <tr>
      <td><%= time %></td>
      <% weekdays.forEach(day => { %> <% let cellID = createID(day, time) %> <%
      let plan = getPlanBySlotID(plans, cellID) %>
      <td>
        <input
          name="<%= cellID %>"
          class="planner-cell"
          value="<%= plan.task %>"
          style="background-color: <%= plan.colour %>"
        />
      </td>
      <% }); %>
    </tr>

    <% }); %>
  </table>
  <button id="submit-btn" type="submit" class="btn">Save Plan</button>
</form>
