<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body>
    <div class="container">
      <%- include('../partials/nav'); %>

      <div id="task-container" class="m-4">
        <%- include('../partials/tasks', {tasks}); %>
      </div>

      <div id="planner-container" class="m-4">
        <%- include('../partials/planner', {weekdays, times}); %>
      </div>
    </div>

    <script type="module" src="script.js"></script>
    <%- include('../partials/scripts'); %>
  </body>
</html>
