<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>

  <body>
    <div class="container">
      <%- include('../partials/nav'); %>

      <div id="user-container" class="m-3">
        <%- include('../partials/users', {selectedName, users}); %>
      </div>

      <div id="task-container" class="m-5">
        <%- include('../partials/tasks', {tasks}); %>
      </div>

      <div id="planner-container" class="m-4">
        <%- include('../partials/planner', {plans, weekdays, times}); %>
      </div>
    </div>

    <script type="text/javascript" src="./public/script.js"></script>

    <%- include('../partials/scripts'); %>
  </body>
</html>
